---
import Detail from '../layouts/Detail.astro';
---

<Detail>
    <h2>PrettyTendr</h2>
    <p class="mt-2">Submission for smart contract <a class="underline" href="https://dev.to/bcrebel/beauty-on-the-blockchain-348c">hackathon</a>. Built with React, Astro, and Rust</p>
    <hr class="mt-4"/>
	<section>
        <a class="fancy-link" href="https://github.com/bcrebel/prettytendr">View Code</a>
        <div class="relative">   
            <iframe class="mt-20" title="vimeo-player" src="https://player.vimeo.com/video/1000868090?h=65b1e85318" width="640" height="360" frameborder="0"  allowfullscreen></iframe>
        </div>
     </section>
</Detail>
<style>

</style>