---
import Layout from './Layout.astro';
---
<Layout>
    <a class="flex items-center mb-10 text-l tracking-widest uppercase" href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>Back
      </a>
    <div class="detail">
        <slot/>
    </div>
</Layout>

<style is:global>
    .detail {
        @apply min-h-screen;
    }

    .detail section {
        @apply mt-10;
    }

    .detail h4, h5 {
        @apply mt-3;
    }

    .detail img {
        @apply mt-8 md:mt-20;
    }
</style>
